.cursor-auto,
.cursor-h-auto:hover {
    cursor: auto !important;
}

.cursor-none,
.cursor-h-none:hover {
    cursor: none !important;
}

.cursor-context,
.cursor-h-context:hover {
    cursor: context-menu !important;
}

.cursor-help,
.cursor-h-help:hover {
    cursor: help !important;
}

.cursor-pointer,
.cursor-h-pointer:hover {
    cursor: pointer !important;
}

.cursor-progress,
.cursor-h-progress:hover {
    cursor: progress !important;
}

.cursor-wait,
.cursor-h-wait:hover {
    cursor: wait !important;
}

.cursor-cell,
.cursor-h-cell:hover {
    cursor: cell !important;
}

.cursor-crosshair,
.cursor-h-crosshair:hover {
    cursor: crosshair !important;
}

.cursor-text,
.cursor-h-text:hover {
    cursor: text !important;
}

.cursor-verticaltext,
.cursor-h-verticaltext:hover {
    cursor: vertical-text !important;
}

.cursor-alias,
.cursor-h-alias:hover {
    cursor: alias !important;
}

.cursor-copy,
.cursor-h-copy:hover {
    cursor: copy !important;
}

.cursor-move,
.cursor-h-move:hover {
    cursor: move !important;
}

.cursor-no-drop,
.cursor-h-no-drop:hover {
    cursor: no-drop !important;
}

.cursor-not-allowed,
.cursor-h-not-allowed:hover {
    cursor: not-allowed !important;
}

.cursor-all-scroll,
.cursor-h-all-scroll:hover {
    cursor: all-scroll !important;
}

.cursor-col-resize,
.cursor-h-col-resize:hover {
    cursor: col-resize !important;
}

.cursor-n-resize,
.cursor-h-n-resize:hover {
    cursor: n-resize !important;
}

.cursor-e-resize,
.cursor-h-e-resize:hover {
    cursor: e-resize !important;
}

.cursor-ne-resize,
.cursor-h-ne-resize:hover {
    cursor: ne-resize !important;
}

.cursor-nw-resize,
.cursor-h-nw-resize:hover {
    cursor: nw-resize !important;
}

.cursor-row-resize,
.cursor-h-row-resize:hover {
    cursor: row-resize !important;
}

.cursor-row-resize,
.cursor-h-row-resize:hover {
    cursor: row-resize !important;
}